<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

<appender name="system" class="org.apache.log4j.DailyRollingFileAppender">
  <param name="File" value="application.log" />
  <param name="DatePattern" value=".yyyy-MM-dd"/>
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern" value="%d{HH:mm:ss} %m%n"/>
  </layout>
  <filter class="org.apache.log4j.varia.LevelRangeFilter">
   <param name="LevelMin" value="DEBUG" />
  </filter>
</appender>

<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern" value="%d{HH:mm:ss} %m%n" />
  </layout>
</appender>
 
<category name="it.micronixnetwork" additivity="false">
  <priority value="DEBUG" />
  <appender-ref ref="system" />
  <appender-ref ref="stdout" />
</category>

<root>
   <level value="error" />
   <appender-ref ref="system" />
   <appender-ref ref="stdout" />
</root>
</log4j:configuration>
